# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Buck
buck-out/

# Ruby / Bundler
.bundle/
vendor/bundle/

# Fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

app-example

# generated native folders
/ios
/android
